body {
	color: #363636;
	background-color: #fff;
	font-family: 'Courier New';
	margin: 0;
	padding: 0;
}

#center {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
}

#center>span {
	font-size: 70pt;
	color: rgb(114, 187, 132);
}

#love {
	font-size: 22pt;
	display: inline-block;
	position: absolute;
	bottom: 30pt;
	right: 30pt;
	transform: translate(50%, 50%);
	cursor: pointer;
	/* overflow: hidden; */
	/* border-radius: 50%; */
	background-color: none;
}

#scoreboard {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
}

#scoreboard>ul{
	list-style: none;
	/* width: ; */
}

#scoreboard>ul>li{
	padding: 5px 10px;
	width: 80%;
	height: 20px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
	border: none;
	border-radius: 5px;
}

#scoreboard>ul>li.current-player{
	background-color: rgb(233, 233, 233);
	transform: scale(105%);
}

.list_pos{
	font-weight: bold;
	color: rgb(99, 99, 99);
}

/* .list_name{
	color: red;
}

.list_score{
	color: blue
} */