html, body{
	margin: 0;
	padding: 0;
	background-color: rgb(128, 128, 128);
	color: #222222;
}

svg{
	/* position: absolute; */
	/* left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
	/* border: black solid; */
	background-color:rgb(165, 165, 165);
	padding: 0;
	margin: 0;
}

path{
	fill: black;
	stroke: none;
} 

circle{
	fill: red;
}

.centered{
	position: absolute;
	left: 50%;
	top: 50%;
}

.bottom{
	position: absolute;
	left: 90%;
	top: 90%;
}

#play-button{
	transform: translate(-50%, -50%);
	font-size: 48pt;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
	  transform: rotate(-90deg);
	  transform-origin: left top;
	  width: 100vh;
	  overflow-x: hidden;
	  position: absolute;
	  top: 100%;
	  left: 0;
	}
  } */