html, body{
	margin: 0;
	padding: 0;
	background-color: rgb(0, 0, 0);
	color: #181717;
	font-size: large;
}

svg{
	z-index: 1;
	/* position: absolute; */
	/* left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
	border: none;
	/* border-top: 10px black solid; */
	/* border-bottom: 10px black solid; */
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
}

svg.inverted{
	background-color: black;
}

path{
	fill: black;
	stroke: none;
} 

path.inverted{
	fill: rgb(255, 255, 255);
}

circle{
	fill: red;
}

.centered{
	position: absolute;
	left: 50%;
	top: 50%;
}

.bottom{
	position: absolute;
	left: 90%;
	top: 90%;
}

/* #score{
	position: absolute;
	right: 5px;
	top: 5px;
	color: white;
	font-size: xx-large;
} */

#game-over{
	font-family: Roboto;
	background-color: #f3f3f3;
	width: 40vw;
	/* height: 40vh; */
	z-index: -1;
	position: absolute;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	opacity: 0;
	transition: linear opacity 0.08s;
	padding-bottom: 10px;
}

#game-over.rotated{
	width: 40vh;
	/* height: 40vw; */
	left: 65vw;
	transform-origin: 20vh 20vw;
	transform: translate(-20vh, -20vw) rotate(90deg);
	/* transform: rotate(90deg); */
}

h3{
	font-weight: normal;
	font-size: larger;
	margin: 0;
	margin-top: 20px;
}

#game-over #score{
	font-size: xxx-large;
	margin: 10px;
}

#game-over button{
	margin: 0;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid rgb(78, 78, 78);
	padding: 5px;
	color: inherit;
	font-size: 12pt;
}


#scoreboard {
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* #scoreboard>h2{
	font-size: x-large;
	padding: 0;
	margin: 10px;
} */

#scoreboard>ul{
	text-align: center;
	margin: auto;
	list-style: none;
	width: 100%;
	max-width: 400px;
	padding: 10px 0;
}

#scoreboard>ul>li{
	padding: 5px 10px;
	width: 80%;
	height: 20px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	border: none;
	border-radius: 5px;
	max-width: 400px;
}

#scoreboard>ul>li.current-player{
	background-color: rgb(233, 233, 233);
	transform: scale(105%);
}

.list_pos{
	font-weight: bold;
	color: rgb(99, 99, 99);
}

.list_name{
	/* width: 100%; */
	max-width: 240px;
	white-space: nowrap;
	overflow: hidden;
}

.list_score{
	text-align: right;
}

.list_left{
	display: flex;
}


.loader {
  border: 6px solid #cccccc; /* Light grey */
  border-top: 6px solid #a1a1a1; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
	margin: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}