html, body{
	margin: 0;
	padding: 0;
	background-color: rgb(0, 0, 0);
	color: #222222;
}

svg{
	/* position: absolute; */
	/* left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
	border: none;
	border-top: 10px black solid;
	border-bottom: 10px black solid;
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
}

path{
	fill: black;
	stroke: none;
} 

circle{
	fill: red;
}

.centered{
	position: absolute;
	left: 50%;
	top: 50%;
}

.bottom{
	position: absolute;
	left: 90%;
	top: 90%;
}

#play-button{
	transform: translate(-50%, -50%);
	font-size: 48pt;
}

#score{
	position: absolute;
	right: 5px;
	top: 5px;
	color: white;
	font-size: xx-large;
}